* {
    box-sizing: border-box;
}

header {
    background-color: #FFF;
    background-size: auto;
    font-size: 20px;
    font-weight: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
  
}
/* .nav {
    display: flex;
    flex-direction: column;  
  
} */
h1 {
    display: inline-block;
    font-style: normal;
    font-weight: 100;
    font-size: large;
    flex-shrink: 0;
    padding-left: 10px;
}

body {
    margin: 0;
    font-family: papirus;
    font-size: 15px;
    line-height: 1.6;
}

/* Стиль верхней панели навигации */
.topnav {
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

/* Стиль ссылок в верхней панели навигации */
.topnav a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    font-size: 18px;
    text-decoration: none;
  
}

/* Изменить цвет при наведении */
.topnav a:hover {
    color: rgb(198, 10, 13);
}

/* Гибкий контейнер с гибкими ээлементами */
.flex-container {
    display: flex;
    height: 300px;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    background-color: none;
   
}

.flex-container>div {
    background-color:  #ddd;
    margin: 10px;
    padding: 120px;
    font-size: 30px;
}

.footer {
    background-color: #ddd;
    padding: 10px;
    text-align: center;
    margin-top: -30;
}

/* контейнер колонок */
.row {
    display: flex;
    flex-wrap: wrap;
   
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    flex: 30%;
    background-color:  #ddd;
    padding: 10px;
}

/* Main column */
.main {
    flex: 70%;
    background-color: #ddd;
    padding: 10px;

}

img {
    width: 100%;
    padding: 5px;
}
.buttonnav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
button {
   background-color: black; 
   color: white;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   font-size: large;
  
}

@media screen and (max-width: 950px) {
    .topnav {
        overflow: hidden;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }   
    header {
        justify-content: center;
    }
}
@media screen and (max-width: 800px) {

    .row,
    .navbar {
        flex-direction: column;
    } 
    header {
        background-color: #FFF;
        background-size: auto;
        font-size: 20px;
        font-weight: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
    }
    .topnav {
        overflow: hidden;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 500px) {
    .topnav {
        overflow: hidden;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
}