* {
    box-sizing: border-box;
}

header {
    background-color: #FFF;
    background-size: auto;
    font-size: 20px;
    font-weight: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
   
}

.nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;
    margin-top: 150px;
}

h1 {
    display: inline-block;
    flex-shrink: 0;
    padding-left: 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1.97px;
    text-transform: uppercase;
}

.main_title {
    display: flex;
    justify-content: center;
}

.main_title_navbar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 1.97px;
    text-transform: uppercase;
    display: flex;

}

h3 {
    font-style: normal;
    font-weight: 40;
    font-size: 22px;
    font-family: inherit;

}


body {
    margin: 0;
    font-family: papirus;
    font-size: 15px;
    line-height: 1.6;
}

/* Стиль верхней панели навигации */
.topnav {
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

/* Стиль ссылок в верхней панели навигации */
.topnav a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    font-size: 18px;
    text-decoration: none;
}

/* Изменить цвет при наведении */

/* Гибкий контейнер с гибкими ээлементами */
.flex-container {
    display: flex;
    height: 300px;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    background-color: none;

}

.flex-container>div {
    background-color: #FFF;
    margin: 10px;
    padding: 120px;
    font-size: 30px;
}

.footer {
    background-color: #FFF;
    padding: 10px;
    text-align: center;
}

/* контейнер колонок */
.row {
    display: flex;
    flex-wrap: wrap;

}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    flex: 30%;
    background-color: #FFF;
    padding: 10px;
}
.side h3 {
    text-align: center;
}
.side p {
    text-align: justify;
}

/* Main column */
.main {
    flex: 70%;
    background-color: #FFF;
    padding: 10px;

}

img {
    width: 100%;
    padding: 5px;
}

.buttonnav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 60px;
}

button {
    background-color: white;
    color: black;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    font-size: large;
    border: solid 2px black;
    width: 200px;
    height: 50px;
    border-radius: 10px;
}

hr {
    margin-left: 15px;
    margin-right: 15px;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}

.alink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alink a {
    color: inherit;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-style: normal;
    flex-shrink: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: rgb(198, 10, 13);
}
button:hover {
    color: rgb(198, 10, 13);
}


.alink p {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.4);
    white-space: pre-line;
    letter-spacing: 1.8px;
}

h4 {
    display: inline-block;
    flex-shrink: 0;
    padding-left: 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1.97px;
    text-transform: uppercase;
}

.footer {
    margin-top: 30px;

}

.footerlink {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.icons img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}


@media screen and (max-width: 1020px) {
    .topnav {
        overflow: hidden;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    header {
        justify-content: center;
    }
}

@media screen and (max-width: 800px) {

    .row,
    .navbar {
        flex-direction: column;
    }

    header {
        background-color: #FFF;
        background-size: auto;
        font-size: 20px;
        font-weight: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;

    }

    .topnav {
        overflow: hidden;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .links {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 30px;
    }

    .alink {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }

    .nav {
        margin-bottom: 100px;
    }

}

@media screen and (max-width: 500px) {
    .topnav {
        overflow: hidden;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
}